@charset "utf-8";
/* CSS Document */

/*
body {
	
	
	border: 1em solid #a1a1a1;
	border-radius: 2em;
	padding: 2em;
	font-family: arial, Helvetica, "Times New Roman", sans-serif; 
    background: #C7BAA7;
    color: dark gray;
    font-size: 150%;  /* try different percentages 
    					  
}*/

a:link {
	color: blue;	
}

a:visited {
	color:red;
}

a:hover {
	color: black;
}

a:active {
	color: grey;
}

pre:hover {
    color:yellow;
}

/*
div {
	align-content: center;
	text-align: center;
}*/